#contact-me-container {
    @include outer-container(100%);
    @include background(linear-gradient(90deg, #ff99bb, #ffccdd) left repeat);
    text-align: center;

    h1 {
        @include span-columns(12);
        font-family: 'Pacifico', cursive;
        font-weight: normal;
        font-size: 3em;
        color: white;
        }

    form {
        @include span-columns(8);
        width: 100%;
        padding-top: 10px;

        input {
            margin-bottom: 10px;
        }

        input[type=text], textarea {
            width: 40%;
            border-radius: 5px;
            padding: 3px;

            @include media($mobile) {
                width: 90%;
            }
        }

        input[type=submit] {
            background-color: transparent;
            font-size: 1.5em;
            border-radius: 5px;
            border: 2px solid black;
        }

        input[type=submit]:hover {
            cursor: pointer;
            background: linear-gradient(90deg, red 0, green 25%, blue 50%, purple 75%);
        }
    }
}
